@font-face
{
  font-family: ls-regular;
  src: url('fonts/league-spartan-regular.ttf');
}

@font-face
 {
  font-family: ls-medium;
  src: url('fonts/league-spartan-medium.ttf')
 }

 @font-face
 {
  font-family: ls-bold;
  src: url('fonts/league-spartan-bold.ttf');
 }


body
{
  font-family: ls-regular, sans-serif;
  width: 87%;
  margin: auto;                     
}

header
{
  margin-top: 80px;
}

#description
{
  text-align: center;
}

h1
{
  color: hsl(300, 43%, 22%);
  font-family: ls-bold, sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 85%; 
  margin: 0 auto 27px auto;
  letter-spacing: -2px;
  width: 70%;
}

 #description p 
 {
    font-size: 1.1em;
    color: #8c6e8c;
    line-height: 145%;
    font-family: ls-medium;
 }

#notations
{
  margin-top: 40px;
}

#notations > div
{
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  margin-top: 18px;
}

#notations > div p
{
  margin: 0;
  margin-top: 12px;
  color: hsl(300, 43%, 22%);
  font-family: ls-bold, sans-serif;
  font-size: 1.1em;
}

#notations > div img
{
  margin: 0 2px 0 2px;
}


main
{
  margin-top: 50px;
}

main section
{
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  padding: 30px;
  margin-top: 15px;
}

.buyer
{
  display: flex;
  margin-top: 5px;
}

.buyer img

{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

h2
{
  margin: 4px 0 0 22px;
  font-family: ls-medium;
  font-weight: normal;
  font-size: 1.1em;
  color: white;
}

h3
{
  margin: 4px 0 0 22px;
  font-weight: normal;
  font-size: 1em;
  color: hsl(333, 80%, 67%);
}

.text
{
  margin: 30px 0 0 0;
  line-height: 130%;
  color: white;
  font-size: 17px;
}

footer
  {
    font-size: 11px;
    text-align: center;
  }

footer p
{
  margin: 10px 0 2px 0;
}

footer a 
{
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 799px)
{
  html
  {
    height: 100%;
    background: url(images/bg-pattern-top-mobile.svg) top no-repeat;
    background-size: 100%;
  }
}

@media screen and (min-width: 800px)
{
  html
  {
    height: 100%;
    background: url(images/bg-pattern-top-desktop.svg) left top no-repeat,
                url(images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
  }

  body
  {
    width: auto;
    margin: 117px 5% 0 5%;
  }

  header
  {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
  }

  h1
  {
    font-size: 3.5em;
    width: 100%;
  }

  main
  {
    display: flex;
    justify-content: center;
  }

  main section
  {
    width: 350px;
    min-height: 234px;
    padding: 0;
    margin: 35px 15px 0 15px;
    transition: 0.3s;
  }

  main section:hover
  {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px grey;
  }

  main section img
  {
    transition: 0.5s;
  }

  main section:hover img
  {
    transform: scale(1.7) translateY(-8px);
    border-radius: 8px;
  }

  #colton
  {
    position: relative;
    bottom: 32px;
  }

  #irene
  {
    position: relative;
    bottom: 16px;
  }
  #notations
  {
    width: 445px;
    margin-top: 10px;
    margin-left: 25px;
  }

  #notations > div
  {
    display: flex;
    justify-content: left;
    height: 25px;
    transition: 0.3s;
  }

  #notations > div:hover
  {
    transform: translateX(-10px);
  }

  #notations > div > div
  {
    min-width: 125px;
    margin-top: 5px;
    margin-left: 15px;
  }

  #notations > div img
  {
    transition: 0.5s;
  }

  #notations > div:hover img
  {
    transform: scale(1.3) rotate(-73deg);
    filter: drop-shadow(0 0 12px rgb(255, 200, 0));
  }

  #notations > div p
  {
    min-width: 226px;
    margin-top: 8px;
    margin-left: 25px;
    text-align: left;
  }

  #description
  {
    width: 420px;
    text-align: left;
  }

  .buyer
  {
    margin: 40px 30px 25px 25px;
  }

  .text
  {
    margin: 0 30px 10px 25px;
  }

  footer
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    text-align: center;
  }
}


@media screen and (max-height: 850px)
{
  footer
  {
    display: none;
  }
}


@media screen and (min-width: 1000px)
{
  #report
  {
    position: relative;
    right: 48px;
  }

  #reviews
  {
    position: relative;
    right: 96px;
  }
}